<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccessKeys</key>
	<dict>
		<key>accessKey</key>
		<string>6a3040474f778637d3ddeefaada7b066</string>
	</dict>
</dict>
</plist>
